name: Trigger Jenkins Build
on:
  push:
    branches: [ master ]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call Jenkins build
        run: |
          curl -X POST "https://i-00cf9b4f4db24e827.robotigniteacademy.com/976738aa-dd96-4aa1-94f0-5eb849e10624/jenkins/job/ros1_ci/build?token=ROS2_CI_TOKEN"