name: Trigger Jenkins Build
on:
  push:
    branches: [ master ]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call Jenkins build
        run: |
          curl -X POST "https://i-03c9bca7b6eb24ae0.robotigniteacademy.com/a056aac4-13d2-485c-a306-aa60b508b2c9/jenkins/job/ros2_ci/build?token=ROS2_CI_TOKEN"
