name: Trigger Jenkins Build
on:
  push:
    branches: [ master ]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call Jenkins build
        run: |
          curl -X POST "https://i-01866847dde4b16c9.robotigniteacademy.com/e3b0dd76-9fe6-4c27-aaf7-90aceb028b02/jenkins/job/ros2_ci/build?token=ROS2_CI_TOKEN"
